<div class="video-container">
    <mat-video *ngIf="videoIsAvailable()" class="video-preview" [autoplay]="true" [src]="url" ></mat-video>
    <div class="top-margin-md">
        <input [hidden]="true" type="file" (change)="onVideoSelected($event)" accept="video/*" #file/>
        <button class="button-spaced" mat-raised-button [color]="'accent'" (click)="file.click()">Choose file</button>
        <button mat-raised-button [color]="'primary'" class="submit" (click)="sendVideo($event)">Send</button>
    </div>
</div>
