<mat-list class="photos-container">
    <h1 mat-subheader>{{ header }}</h1>
    <mat-list-item *ngFor="let item of items">
        <mat-icon mat-list-icon>search</mat-icon>
        <h4 mat-line>{{ item.name }}</h4>
        <p mat-line> Miliseconds: from {{ item.miliseconds[0] }} to {{ item.miliseconds.slice(-1)[0] }}</p>
        <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let img of item.pictures">
                    <img height="250px" width="300px" [src]="getImg(img)"/>
                </mat-grid-tile>
        </mat-grid-list >
    </mat-list-item>
</mat-list>