body {
    background-color: #303030;
}

.photos-container {
    width: 80vw;
    margin: auto;
}

.divisor {
    clear: left;
}

.suspect-tile {
    margin: 15px;
}

.photos-list {
    width: 100%;
    margin:auto;
}

.photo {
    margin-right: 25px;
    float: left;
}

.video-title {
    font-size: 1.75em;
}